# МойСклад API
VITE_MOYSKLAD_TOKEN=

# Telegram Bot (уведомления о резервах)
VITE_BOT_TOKEN=
VITE_CHAT_ID=

# Яндекс OAuth (получить на oauth.yandex.ru)
VITE_YANDEX_CLIENT_ID=
VITE_YANDEX_REDIRECT_URI=http://localhost:5173/auth/callback
